{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'maploom/assets/MapLoom-1.5.12.css' %}"/>
<script type="text/javascript" src="{% static 'maploom/assets/MapLoom-1.5.12.js' %}"></script>
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'maploom/assets/MapLoom-1.5.13.css' %}"/>
<script type="text/javascript" src="{% static 'maploom/assets/MapLoom-1.5.13.js' %}"></script>
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'maploom/assets/MapLoom-1.5.14.css' %}"/>
<script type="text/javascript" src="{% static 'maploom/assets/MapLoom-1.5.14.js' %}"></script>
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'maploom/assets/MapLoom-1.5.15.css' %}"/>
<script type="text/javascript" src="{% static 'maploom/assets/MapLoom-1.5.15.js' %}"></script>
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'maploom/assets/MapLoom-1.5.16.css' %}"/>
<script type="text/javascript" src="{% static 'maploom/assets/MapLoom-1.5.16.js' %}"></script>
